<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Host</key>
	<string>https://www.baifubao.com/mobile_stat</string>
	<key>Config</key>
	<array>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>doGetCardInfo</string>
			<key>eventId</key>
			<string>firstNext</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>clickSupportBanks:</string>
			<key>eventId</key>
			<string>clickSupportCard</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPayVerifiedCodeViewController</string>
			<key>Selector</key>
			<string>textField:shouldChangeCharactersInRange:replacementString:</string>
			<key>eventId</key>
			<string>clickInputVcode</string>
			<key>unique</key>
			<true/>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>checkCardInfo</string>
			<key>eventId</key>
			<string>secondNext</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletSMSVerificationCodeViewController</string>
			<key>Selector</key>
			<string>clickResendButton:</string>
			<key>eventId</key>
			<string>getSmsCode</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletSMSVerificationCodeViewController</string>
			<key>Selector</key>
			<string>clickCompleteButton:</string>
			<key>eventId</key>
			<string>thirdNext</string>
			<key>eventValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletSMSVerificationCodeViewController</string>
			<key>Selector</key>
			<string>clickCannotReceiveButton:</string>
			<key>eventId</key>
			<string>clickVcodeTip</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCashDeskViewController</string>
			<key>Selector</key>
			<string>enterCompositePayVC</string>
			<key>eventId</key>
			<string>clickPayType</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCashDeskViewController</string>
			<key>Selector</key>
			<string>doPay:</string>
			<key>eventId</key>
			<string>onekeyClickpay</string>
			<key>readContextValues</key>
			<array>
				<string>sp_no</string>
				<string>trans_id</string>
				<string>accountBankCode</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPayMainManager</string>
			<key>Selector</key>
			<string>addCardPayFromVC:withPayItem:</string>
			<key>eventId</key>
			<string>onekeyClickNewcard</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCompositePayViewController</string>
			<key>Selector</key>
			<string>sureHandle:</string>
			<key>eventId</key>
			<string>onekeyClickContinue</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPaymentResultViewController</string>
			<key>Selector</key>
			<string>didClickedCompleteButton:</string>
			<key>eventId</key>
			<string>resultClickBtn</string>
			<key>readContextValues</key>
			<array>
				<string>checkFingerprint</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletInputCell</string>
			<key>Selector</key>
			<string>textFieldDidBeginEditing:</string>
			<key>relervant</key>
			<true/>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>placeholder</string>
					<key>conditionValue</key>
					<string>持卡人姓名</string>
					<key>eventId</key>
					<string>clickInputTrueName</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>placeholder</string>
					<key>conditionValue</key>
					<string>持卡人身份证号</string>
					<key>eventId</key>
					<string>clickInputIdCard</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>placeholder</string>
					<key>conditionValue</key>
					<string>月/年（如08/16输入0816）</string>
					<key>eventId</key>
					<string>clickInputDate</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>placeholder</string>
					<key>conditionValue</key>
					<string>银行预留手机号</string>
					<key>eventId</key>
					<string>clickInputMobileNo</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>placeholder</string>
					<key>conditionValue</key>
					<string>卡背末三位数</string>
					<key>eventId</key>
					<string>clickInputCvv2</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>placeholder</string>
					<key>conditionValue</key>
					<string>银行卡号</string>
					<key>eventId</key>
					<string>clickInputCardNo</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletVcodeResultInfo</string>
			<key>Selector</key>
			<string>setResultCode:</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>conditionValue</key>
					<integer>0</integer>
					<key>eventId</key>
					<string>verifySmsSuccess</string>
					<key>eventValue</key>
					<string></string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>conditionValue</key>
					<integer>88888</integer>
					<key>eventValue</key>
					<string></string>
					<key>eventId</key>
					<string>verifySmsFail</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPayResultInfo</string>
			<key>Selector</key>
			<string>setResultCode:</string>
			<key>relervant</key>
			<true/>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>eventId</key>
					<string>paySuccess</string>
					<key>conditionValue</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>conditionValue</key>
					<integer>88888</integer>
					<key>eventValue</key>
					<string></string>
					<key>eventId</key>
					<string>verifySmsFail</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>WalletPayViewController</string>
			<key>Selector</key>
			<string>dealloc</string>
			<key>eventId</key>
			<string>quitCashDesk</string>
			<key>eventValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Class</key>
			<string>WalletPayViewController</string>
			<key>Selector</key>
			<string>getPayServCallBack:</string>
			<key>readContextValues</key>
			<array>
				<string>uc_ext</string>
			</array>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>channel_code</string>
					<key>conditionValue</key>
					<string>ALIPAY-WISE</string>
					<key>eventId</key>
					<string>lbsDoPayClick</string>
					<key>eventValue</key>
					<string>alipay</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>channel_code</string>
					<key>conditionValue</key>
					<string>SUPER-WECHAT-WISE</string>
					<key>eventId</key>
					<string>lbsDoPayClick</string>
					<key>eventValue</key>
					<string>weinxin</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>channel_code</string>
					<key>conditionValue</key>
					<string>UNIONPAY-SDK</string>
					<key>eventId</key>
					<string>lbsDoPayClick</string>
					<key>eventValue</key>
					<string>card_pay</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<string>0</string>
					<key>propertyName</key>
					<string>channel_code</string>
					<key>conditionValue</key>
					<string>99BILL-QUICKPAY-WISE</string>
					<key>eventId</key>
					<string>lbsDoPayClick</string>
					<key>eventValue</key>
					<string>fast_pay</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>channel_code</string>
					<key>conditionValue</key>
					<string>QUICKPAY-WISE</string>
					<key>eventId</key>
					<string>lbsDoPayClick</string>
					<key>eventValue</key>
					<string>fast_pay</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>channel_code</string>
					<key>conditionValue</key>
					<string>BAIFUBAO-WISE</string>
					<key>eventId</key>
					<string>lbsDoPayClick</string>
					<key>eventValue</key>
					<string>baidu</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>channel_code</string>
					<key>conditionValue</key>
					<string>BAIFUBAO-WISE-CARD</string>
					<key>eventId</key>
					<string>lbsDoPayClick</string>
					<key>eventValue</key>
					<string>wise_card</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BaiduWalletSafePayBankCardManager</string>
			<key>Selector</key>
			<string>checkCardInfo:payInfo:block:</string>
			<key>eventId</key>
			<string>smsStart</string>
			<key>eventValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Class</key>
			<string>WalletPayMoreCell</string>
			<key>Selector</key>
			<string>setSelected:animated:</string>
			<key>relervant</key>
			<true/>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>conditionValue</key>
					<integer>1</integer>
					<key>eventId</key>
					<string>lbsMoreChannels</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPaymentPasswordViewController</string>
			<key>Selector</key>
			<string>didStartEnterPassword:</string>
			<key>unique</key>
			<true/>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>property</string>
					<key>propertyName</key>
					<string>passwordViewStatus</string>
					<key>conditionValue</key>
					<integer>6</integer>
					<key>eventId</key>
					<string>clickCheckPwd</string>
				</dict>
				<dict>
					<key>type</key>
					<string>property</string>
					<key>propertyName</key>
					<string>passwordViewStatus</string>
					<key>conditionValue</key>
					<integer>1</integer>
					<key>eventId</key>
					<string>clickSetPwd</string>
				</dict>
				<dict>
					<key>type</key>
					<string>property</string>
					<key>propertyName</key>
					<string>passwordViewStatus</string>
					<key>conditionValue</key>
					<integer>2</integer>
					<key>eventId</key>
					<string>clickConfirmPwd</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPaymentPasswordViewController</string>
			<key>Selector</key>
			<string>createPasswordSuccess</string>
			<key>eventId</key>
			<string>doSetPwdPay</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCashDeskViewController</string>
			<key>Selector</key>
			<string>didStartEnterPassword:</string>
			<key>eventId</key>
			<string>clickPayPwd</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDPaymentManager</string>
			<key>Selector</key>
			<string>alixPayAppPay:</string>
			<key>eventId</key>
			<string>lbsAliPayRet_start</string>
			<key>readContextValues</key>
			<array>
				<string>sp_no</string>
				<string>trans_id</string>
				<string>alipayResult</string>
				<string>network</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDPaymentManager</string>
			<key>Selector</key>
			<string>handleAlixPayResult:</string>
			<key>eventId</key>
			<string>lbsAliPayRet_end</string>
			<key>readContextValues</key>
			<array>
				<string>sp_no</string>
				<string>trans_id</string>
				<string>network</string>
			</array>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>resultStatus</string>
					<key>conditionValue</key>
					<string>9000</string>
					<key>eventValue</key>
					<string>app_success</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>resultStatus</string>
					<key>conditionValue</key>
					<string>8000</string>
					<key>eventValue</key>
					<string>app_paying</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>resultStatus</string>
					<key>conditionValue</key>
					<string>4000</string>
					<key>eventValue</key>
					<string>app_failed</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>resultStatus</string>
					<key>conditionValue</key>
					<string>6001</string>
					<key>eventValue</key>
					<string>app_cancel</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>resultStatus</string>
					<key>conditionValue</key>
					<string>6002</string>
					<key>eventValue</key>
					<string>app_unknown</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>WalletPayViewController</string>
			<key>Selector</key>
			<string>cashierServiceCallBack:</string>
			<key>eventId</key>
			<string>lbsPayAmount</string>
			<key>readContextValues</key>
			<array>
				<string>polymerPayAmount</string>
				<string>polymerPayBWDesc</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BWAppPayHandler</string>
			<key>Selector</key>
			<string>doPay</string>
			<key>eventId</key>
			<string>schemePayEnter</string>
			<key>readContextValues</key>
			<array>
				<string>kLogOriginSchemeAppName</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>WalletPayViewController</string>
			<key>Selector</key>
			<string>goBack:</string>
			<key>eventId</key>
			<string>lbsTitleBack</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletNewHomePageViewController</string>
			<key>Selector</key>
			<string>jumpItem:</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>link_addr</string>
					<key>conditionValue</key>
					<string>301</string>
					<key>eventId</key>
					<string>newHomePageQRCode</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>link_addr</string>
					<key>conditionValue</key>
					<string>302</string>
					<key>eventId</key>
					<string>newHomePageBScanC</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>name</string>
					<key>eventId</key>
					<string>newHomePageService</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletNewHomePageViewController</string>
			<key>Selector</key>
			<string>enterWebWithItem:</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>name</string>
					<key>eventId</key>
					<string>newHomeAdClick</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPropertyView</string>
			<key>Selector</key>
			<string>didSelectGridViewCell:selectTag:</string>
			<key>eventId</key>
			<string>unknownProperty</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>1</integer>
					<key>conditionValue</key>
					<integer>101</integer>
					<key>eventId</key>
					<string>newHomeClickBalance</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>1</integer>
					<key>conditionValue</key>
					<integer>102</integer>
					<key>eventId</key>
					<string>newHomeClickPoints</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>1</integer>
					<key>conditionValue</key>
					<integer>103</integer>
					<key>eventId</key>
					<string>newHomeClickTradeList</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>1</integer>
					<key>conditionValue</key>
					<integer>104</integer>
					<key>eventId</key>
					<string>newHomeClickCoupon</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>1</integer>
					<key>conditionValue</key>
					<integer>105</integer>
					<key>eventId</key>
					<string>newHomeClickCards</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>1</integer>
					<key>conditionValue</key>
					<integer>107</integer>
					<key>eventId</key>
					<string>newHomeClickCashBack</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletNewHomePageViewController</string>
			<key>Selector</key>
			<string>AdScrollerViewDidClose:</string>
			<key>eventId</key>
			<string>newHomePageAdClose</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletHomePageViewController</string>
			<key>Selector</key>
			<string>jumpItem:</string>
			<key>eventId</key>
			<string>oldHomePageClickItem</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>name</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletFreePasswordSettingsViewController</string>
			<key>Selector</key>
			<string>saveAmountSettings:</string>
			<key>eventId</key>
			<string>passfreeSaveSetting</string>
			<key>relervant</key>
			<true/>
			<key>readContextValues</key>
			<array>
				<string>freePassOn</string>
				<string>freePassSelectedCredit</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCashDeskViewController</string>
			<key>Selector</key>
			<string>viewDidDisappear:</string>
			<key>eventId</key>
			<string>oldCustomerSetPassFree</string>
			<key>relervant</key>
			<true/>
			<key>readContextValues</key>
			<array>
				<string>passfreeActualSelectedStatus</string>
				<string>passfreeDefaultSelectedStatus</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPaymentPasswordViewController</string>
			<key>Selector</key>
			<string>viewDidDisappear:</string>
			<key>eventId</key>
			<string>newCustomerChangePassFree</string>
			<key>relervant</key>
			<true/>
			<key>cancelWhenKeyNull</key>
			<true/>
			<key>readContextValues</key>
			<array>
				<string>passfreeActualSelectedStatus</string>
				<string>passfreeDefaultSelectedStatus</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletThirdEditionHomePageViewController</string>
			<key>Selector</key>
			<string>enterWebWithItem:</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>name</string>
					<key>eventId</key>
					<string>newHomeAdClick</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletThirdEditionHomePageViewController</string>
			<key>Selector</key>
			<string>jumpItem:</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>link_addr</string>
					<key>conditionValue</key>
					<string>301</string>
					<key>eventId</key>
					<string>newHomePageQRCode</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>link_addr</string>
					<key>conditionValue</key>
					<string>302</string>
					<key>eventId</key>
					<string>newHomePageBScanC</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>name</string>
					<key>eventId</key>
					<string>newHomePageService</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletThirdEditionHomePageViewController</string>
			<key>Selector</key>
			<string>AdScrollerViewDidClose:</string>
			<key>eventId</key>
			<string>newHomePageAdClose</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletThirdEditionHomePageViewController</string>
			<key>Selector</key>
			<string>userInfoBackgroundImageViewPress:</string>
			<key>eventId</key>
			<string>newHome3ClickTitle</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletThirdEditionHomePageViewController</string>
			<key>Selector</key>
			<string>loginButtonClick:</string>
			<key>eventId</key>
			<string>newHome3ClickLogin</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletThirdEditionHomePageViewController</string>
			<key>Selector</key>
			<string>cashbackDescButtonClick:</string>
			<key>eventId</key>
			<string>newHome3ClickCashBack</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCalculatingMoneyResult</string>
			<key>Selector</key>
			<string>setComposite:</string>
			<key>relervant</key>
			<true/>
			<key>readContextValues</key>
			<array>
				<string>sp_no</string>
				<string>trans_id</string>
			</array>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<string>0</string>
					<key>propertyName</key>
					<string>@unionOfObjects.discount_amount</string>
					<key>filter</key>
					<string>selected == YES</string>
					<key>eventId</key>
					<string>clickCoupon</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCompositePayViewController</string>
			<key>Selector</key>
			<string>resetbottomButtonStatus</string>
			<key>relervant</key>
			<true/>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>property</string>
					<key>propertyName</key>
					<string>payItem.isSelectHasMonney</string>
					<key>eventId</key>
					<string>onekeySelectYouQian</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCompositePayViewController</string>
			<key>Selector</key>
			<string>localCalculation</string>
			<key>relervant</key>
			<true/>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>property</string>
					<key>propertyName</key>
					<string>payItem.isSelectBalance</string>
					<key>eventId</key>
					<string>onekeyClickBalance</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPayMainManager</string>
			<key>Selector</key>
			<string>cancelDoPay:</string>
			<key>relervant</key>
			<true/>
			<key>eventId</key>
			<string>abandonPay</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>pressedOtherDiscountOrCoupon:</string>
			<key>relervant</key>
			<true/>
			<key>eventId</key>
			<string>pressOtherDiscount</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>clickHelpPhoneButton:</string>
			<key>relervant</key>
			<true/>
			<key>eventId</key>
			<string>clickHelpPhone</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>clickHelpCVVButton:</string>
			<key>relervant</key>
			<true/>
			<key>eventId</key>
			<string>clickHelpCVV</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>clickHelpDateButton:</string>
			<key>relervant</key>
			<true/>
			<key>eventId</key>
			<string>clickHelpDate</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>clickHelpTrueNameButton:</string>
			<key>relervant</key>
			<true/>
			<key>eventId</key>
			<string>clickHelpName</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>pressedOtherDiscountOrCoupon:</string>
			<key>relervant</key>
			<true/>
			<key>eventId</key>
			<string>pressOtherDiscount</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletSMSVerificationCodeViewModel</string>
			<key>Selector</key>
			<string>continueOrigPayment</string>
			<key>eventId</key>
			<string>cannotDiscountContinue</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletSMSVerificationCodeViewModel</string>
			<key>Selector</key>
			<string>continuePayment</string>
			<key>eventId</key>
			<string>updateCardinfoContinue</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletSMSVerificationCodeViewController</string>
			<key>Selector</key>
			<string>changePaymentMethod</string>
			<key>eventId</key>
			<string>selectOtherPayType</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCashDeskViewController</string>
			<key>Selector</key>
			<string>changePaymentMethod</string>
			<key>eventId</key>
			<string>selectOtherPayType</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCardElementsViewController</string>
			<key>Selector</key>
			<string>changePaymentMethod</string>
			<key>eventId</key>
			<string>selectOtherPayType</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPayMainManager</string>
			<key>Selector</key>
			<string>completePayWithVC:withCardInfo:withPayItem:</string>
			<key>eventId</key>
			<string>completePayFromSelectPayWay</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDPaymentManager</string>
			<key>Selector</key>
			<string>baiduPay:payType:isEmbedded:sdkInfo:orderInfo:</string>
			<key>eventId</key>
			<string>lbsPrepayResult</string>
			<key>readContextValues</key>
			<array>
				<string>lbsPrepayResultKey</string>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletCashDeskViewController</string>
			<key>Selector</key>
			<string>enterVcodeVCWithIsSMSPay:</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<string>0</string>
					<key>conditionValue</key>
					<true/>
					<key>eventId</key>
					<string>triggleSmsVerify</string>
				</dict>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<string>0</string>
					<key>conditionValue</key>
					<false/>
					<key>eventId</key>
					<string>triggleSmsPay</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPaymentPasswordViewController</string>
			<key>Selector</key>
			<string>doPasswordPay</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>property</string>
					<key>propertyName</key>
					<string>cardInfoType</string>
					<key>conditionValue</key>
					<integer>2</integer>
					<key>eventId</key>
					<string>bindclickPay</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletPaymentPasswordViewController</string>
			<key>Selector</key>
			<string>passwordPayFailed:</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>property</string>
					<key>propertyName</key>
					<string>cardInfoType</string>
					<key>conditionValue</key>
					<integer>2</integer>
					<key>eventId</key>
					<string>bindPayAcceptFail</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Request</key>
	<array>
		<dict>
			<key>path</key>
			<string>/_u/wireless/card_check</string>
			<key>eventId</key>
			<string>@cardCheck</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/card_info</string>
			<key>eventId</key>
			<string>@getCardInfo</string>
			<key>valueQuery</key>
			<string>content.channel_info.channel_no</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/verify_sms</string>
			<key>eventId</key>
			<string>@verifySms</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/card_bind</string>
			<key>eventId</key>
			<string>@bindCard</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/card_repair</string>
			<key>eventId</key>
			<string>@completeCard</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/cashdesk/calc_mkt_pay</string>
			<key>eventId</key>
			<string>@calcuCoupon</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/mobile_password_verify</string>
			<key>eventId</key>
			<string>@checkPassword</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/cashdesk/wireless_pay</string>
			<key>eventId</key>
			<string>@balancePay</string>
			<key>requestValue</key>
			<string>value==&apos;balance&apos;</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/cashdesk/wireless_pay</string>
			<key>endPath</key>
			<string>/mc/0/wireless_interface/0</string>
			<key>eventId</key>
			<string>@timePay</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/mobile_password_create</string>
			<key>eventId</key>
			<string>@createPassword</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/cashdesk/wireless/reset_pass_by_sms/</string>
			<key>eventId</key>
			<string>@findPassword</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/mobile_password_modify</string>
			<key>eventId</key>
			<string>@modifyPassword</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/proxy/req/newcashier</string>
			<key>eventId</key>
			<string>@lbsApiGetCashier</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/proxy/req/getpay</string>
			<key>eventId</key>
			<string>@lbsApiGetPay</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/api/0/pay/0/wireless/0/direct</string>
			<key>eventId</key>
			<string>@createOrder</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/cashdesk/wireless/querycardbin</string>
			<key>eventId</key>
			<string>@queryCardBin</string>
			<key>valueQuery</key>
			<string>content.card_info.bank_name</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/find_pwd_check_sms</string>
			<key>eventId</key>
			<string>@findPwdCheckSMS</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/_u/wireless/sms_find_pwd</string>
			<key>eventId</key>
			<string>@findPwdSendSMS</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/wireless/0/card_add/0</string>
			<key>eventId</key>
			<string>@activeBinkCard</string>
		</dict>
	</array>
	<key>Context</key>
	<array>
		<dict>
			<key>Class</key>
			<string>BDWalletPayPopPayViewController</string>
			<key>Selector</key>
			<string>setCardItem:</string>
			<key>relervant</key>
			<true/>
			<key>contextKey</key>
			<string>accountBankCode</string>
			<key>contextDefaultValue</key>
			<string>0</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>accountBankCode</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>BDWalletTrackerBaseInfoModel</string>
			<key>Selector</key>
			<string>setNetPoint:</string>
			<key>relervant</key>
			<true/>
			<key>contextKey</key>
			<string>network</string>
			<key>contextDefaultValue</key>
			<string>None</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>WalletPayViewController</string>
			<key>Selector</key>
			<string>initWithParams:</string>
			<key>relervant</key>
			<true/>
			<key>contextKey</key>
			<string>polymerPayAmount</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<string>0</string>
					<key>propertyName</key>
					<string>originalAmount</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>SAPILoginModel</string>
			<key>Selector</key>
			<string>setBduss:</string>
			<key>relervant</key>
			<true/>
			<key>contextKey</key>
			<string>dim_event_owner</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<string>0</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Class</key>
			<string>WalletPayViewController</string>
			<key>Selector</key>
			<string>setSelectChannelPayVo:</string>
			<key>relervant</key>
			<true/>
			<key>contextKey</key>
			<string>uc_ext</string>
			<key>condition</key>
			<array>
				<dict>
					<key>type</key>
					<string>argument</string>
					<key>index</key>
					<integer>0</integer>
					<key>propertyName</key>
					<string>uc_ext</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>contextKey</key>
			<string>head_product_id</string>
			<key>contextDefaultValue</key>
			<string>juhecashdesk_ios</string>
		</dict>
	</array>
</dict>
</plist>
